.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-content {
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dots {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 4px;
  background-color: black;
}

.dot.completed {
  background-color: #fe3fb3;
}

/* Custom class for the bar part (background) */
.custom-progress-bar .progress-bar {
  background-color: #fe3fb3
}
